.cardContainer {
    height: 100%;
}

.cardBody {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 3%;
    border-radius: 10%;
}

.card:hover {
    border: 2px solid red;
    opacity: 0.8; 
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out;
}


.InfoMore {
    display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 1.5rem;
}

.InfoMoreTittle {
  color: white;
  margin-right: 1rem;
}

.InfoMoreButton {
  color: white;
  background: green;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.InfoMoreButton:hover {
  background: darkgreen;
}

.InfoMoreDescription {
  color: white;
  padding: 1.5rem;
  text-align: left;
}

@media (max-width: 768px) {
    .card:hover {
        transform: scale(1.02);
    }
}

@media (max-width: 480px) {
    .card:hover {
        transform: scale(1.01);
    }
}