.NavBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    margin:  2% 20% 0 20%;
}  
.NavBar h1 {
    color: white;
    font-size: 24px;
}

.NavBar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.NavBar li {
    margin-left: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.NavBar li:hover {
    color: whitesmoke;
}

.NavBar li a{
    margin-left: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: white;
}