.contact {
  position: relative;

  padding: 8rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

/* PERSONA */

.contactCharacter {
  position: absolute;

  left: 50%;

  top: 55%;

  transform:
    translate(-120%, -50%);

  width: 340px;

  opacity: 0;

  transition:
    transform 1s ease,
    opacity 1s ease;

  z-index: 1;

  pointer-events: none;

  filter:
    drop-shadow(0 0 15px rgba(0,229,255,0.25));
}

/* CUANDO APARECE */

.showCharacter {
  opacity: 1;

  transform:
    translate(-180%, -50%)
     rotate(-2deg);
}
/* TITLES */

.contactTitle {
  font-size: 3rem;
  color: white;

  margin-bottom: 1rem;

  z-index: 10;
}

.contactSubtitle {
  color: #aaa;

  margin-bottom: 3rem;

  text-align: center;

  z-index: 10;
}

/* CARD */

.contactCard {
  width: 100%;
  max-width: 550px;

  padding: 2rem;

  border-radius: 24px;

  background: rgba(0,0,0,0.7);

  border: 1px solid rgba(0,229,255,0.25);

  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;

  gap: 1.2rem;

  position: relative;

  z-index: 5;

  transition: all 0.4s ease;
}

.contactCard:hover {
  transform: translateY(-5px);

  border-color: #00e5ff;

  box-shadow:
    0 0 15px rgba(0,229,255,0.25),
    0 0 35px rgba(0,229,255,0.15);
}

/* INPUTS */

.contactCard input,
.contactCard textarea {
  width: 100%;

  padding: 1rem;

  border-radius: 10px;

  border: 1px solid rgba(255,255,255,0.1);

  background: rgba(255,255,255,0.03);

  color: white;

  outline: none;

  transition: all 0.3s ease;
}

.contactCard input:focus,
.contactCard textarea:focus {
  border-color: #00e5ff;

  box-shadow:
    0 0 10px rgba(0,229,255,0.2);
}

/* TEXTAREA */

.contactCard textarea {
  min-height: 140px;

  resize: none;
}

/* BUTTON */

.contactCard button {
  padding: 1rem;

  border-radius: 12px;

  border: none;

  background: #00bfff;

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: all 0.3s ease;
}

.contactCard button:hover {
  transform: scale(1.03);

  box-shadow:
    0 0 10px #00e5ff,
    0 0 25px rgba(0,229,255,0.4);
}

@keyframes floatCharacter {
  0% {
    transform:
      translate(-82%, -50%)
      translateY(0px);
  }

  50% {
    transform:
      translate(-82%, -50%)
      translateY(-10px);
  }

  100% {
    transform:
      translate(-82%, -50%)
      translateY(0px);
  }
}

/* MOBILE */

@media (max-width: 900px) {
  .contactCharacter {
    display: none;
  }

  .contactTitle {
    font-size: 2rem;
  }
}

