.about{
    text-align: initial;
    font-size: 23px;
    margin:  2% 20% 0 20%;
    border-bottom: 1px solid black;
}

.aboutText{
    text-align: initial;
    margin-bottom: 5%;
}

.curriculm{
    text-decoration: none;
    text-decoration-line: none;
    border: 1px solid green;
    border-radius: 13px;
    color: green;
    padding: 1%;
}