.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 65px 0 0 0;
    width: 100%;
    background-color: #131313;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 5%;
    padding: 13px;
}

.footer img {
    height: 3rem;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.footer img:hover {
    border-radius: 25px;
    border: 3px solid green;
}



@media (max-width: 768px) {

    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer img {
        height: 2.5rem;
    }
}

@media (max-width: 480px) {

    .container {
        margin: 10px 20px;
    }

    .footer img {
        height: 2rem;
    }

    .footerP{
        font-size: 15px;
        margin: 0 5% 0 5%;
        text-align: center;
    }
}
