.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border-top: 2px solid green; */
    margin: 65px 0 0 0;
    width: 100%;
    background-color: #131313;
    padding: 10px 0;
}

.footer h2{
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
}

.cotainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px 70px;
    padding: 13px;
}

.footer img{
    /* background-color: black; */
    height: 3rem;
    margin: 20px;
    /* border: 1px solid green; */
}

.footer img:hover{
    border-radius:25px ;
    border: 3px solid green;
}