.titleSkill{
    margin: 8%;
    font-size: 60px;
}

.skills {
    margin: 2% 20% 0 20%;
}

.cardSkill{
    border: none;
    box-shadow: none;
    background-color: black;
    margin: 5rem;
    padding: 0;
    width: 8rem;
    border: 1px solid red;
}

.cardSkill img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-color: black;
    border: none;
    display: block;
    border: none;
    object-fit: contain;
}

.card-img-top {
    border: none;
    background-color: black;
}

@media (max-width: 768px) {
    .titleSkill {
        font-size: 40px;
        margin: 5%;
    }

    .skills {
        gap: 10px;
    }

    .cardSkill {
        width: 5rem;
    }

    .cardSkill img {
        max-width: 90px;
    }
}


@media (max-width: 480px) {
    .titleSkill {
        font-size: 30px;
    }

    .cardSkill {
        width: auto;
        margin: 1rem;
    }

    .cardSkill img {
        max-width: 80px;
    }
}